.env
.env.test

*.log
node_modules
.DS_Store
server/tmp/
tmp/
.idea
console/bun.lock

bin/
coverage.html
coverage.out
coverage.txt
coverage-unit.txt
coverage-integration.txt
api
console/public/config.js

notification_center/tsconfig.tsbuildinfo
dev-certs/
/UPGRADE_STRAT.md
