@import "tailwindcss";
@import "./components/email_builder/editor.css";
@import "./styles/reactflow.css";
@theme {
  --color-primary: #7763f1;
}

:root {
  --background: rgb(243, 246, 252);
  --foreground: #171717;
  --primary: #7763f1;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* .drawer-no-transition .ant-drawer-content-wrapper {
  transition: none !important;
} */

.ant-table-tbody>tr:hover>td, .tr-hover:hover>td {
  border-bottom: 1px solid rgba(78, 108, 255, 0.4) !important;
}

.drawer-body-no-padding .ant-drawer-body {
  padding: 0;
}

.tabs-in-header {
  position: absolute;
  top: 0;
  height: 65px;
  width: 40%;
  right: 30%;
  left: 30%;
  margin: 0 auto;
  text-align: center;
}

.tabs-in-header .ant-tabs-tab {
  line-height: 41px;
}

.vertical-tabs .ant-tabs-nav {
  padding-top: 32px;
}
/* Custom Alert styling with left border */
.ant-alert {
  border: none !important;
  border-left: 3px solid transparent !important;
}

.ant-alert.ant-alert-info {
  border-left-color: #1890ff !important;
}

.ant-alert.ant-alert-success {
  border-left-color: #52c41a !important;
}

.ant-alert.ant-alert-warning {
  border-left-color: #faad14 !important;
}

.ant-alert.ant-alert-error {
  border-left-color: #ff4d4f !important;
}

/* Required mark inscreses the line height of the form item creating discrepancy when using 2 columns */
:where(.css-dev-only-do-not-override-1d0rgb4).ant-form-item .ant-form-item-label > label.ant-form-item-required::before {
  font-family: inherit;
}